<html>
  <head>
    <title>Edit Election</title>
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      function updateElection(id) {
        console.log("called");
        fetch(`/election/${id}`, {
          method: "PUT",
          body: { name: "name" },
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => {
            if (res.ok) {
              window.navigate("/home");
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body class=" min-h-screen w-full">
    <div class="flex justify-center text-blue-800">
      <%- include ('header') %>
    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <div class="flex justify-between">
          <div class="flex justify-center items-center gap-2">
            <i class="fa fa-user flex items-center justify-center"></i>
            <p class="font-semibold text-xl flex items-center justify-center">
              <%= username %>
            </p>
          </div>
          <a
            class="text-red-500 hover:bg-red-100 transition duration-200 border-2 border-red-500 p-2 rounded-lg"
            href="/signout"
            >Sign Out</a
          >
        </div>
        <hr class="mt-2" />
        <div class="pt-6">
          <p class="font-bold text-3xl">Edit Election</p>
          <div class="flex justify-center">
            <form
              action="/election/<%= election.id %>"
              method="post"
              class="pt-8 flex flex-col gap-4 justify-center items-center"
            >
              <input type="hidden" name="_csrf" value="<%= csrf %>">
              <div class="flex flex-col w-full">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  value="<%= election.name %>"
                  class="border-2 border-gray-400 p-2 rounded-lg"
                />
              </div>
              <button
                type="submit"
                class="inline-block rounded-lg text-white bg-green-600 hover:bg-green-800 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm"
              >
                Update
              </button>
            </form>
          </div>

          <!-- flash message -->
          <div class="flex flex-col justify-center items-center gap-3 pt-4">
            <% if (messages && messages.error && messages.error.length > 0) { %>
              <% for(var i=0; i<messages.error.length; i++) {%>
                <div class="bg-red-300 text-red-900 font-semibold p-2 rounded-lg shadow"> <%= messages.error[i] %></div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
